{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'todolist/showTaskStyle.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">ToDoList</div>

    <nav class="menuBarre">
        <ul>
            <li>
                <a class="otherTasks" href="/todolist/">Home</a>
            </li>
            <li>
                <a class="otherTasks" href="/todolist/completedTask/">Tâche complétées</a>
            </li>
            <li >
                <a class="otherTasks" href="/todolist/obsoleteTask/">Tâche obsolète</a>
            </li>
        </ul>
    </nav>

    <div>
        <div class="taskName">{{task.name}}</div>
        <div class="completedCheck">
            <label for="completed">Marquer comme fais</label>
            {% if task.completed %}
            <input type="checkbox" name="completed" checked form="save">
            {% else %}
            <input type="checkbox" name="completed" form="save">
            {% endif %}
        </div>
    </div>

    {% if task.description != "" %}
    <div class="description">Description : {{task.description}}</div>
    {% else %}
    <div class="description">Description : Aucune description.</div>
    {% endif %}

    {% if not task.completed %}
    <div class="date">A finir avant : {{task.getDate}}</div>
    {% else %}
    <div class="date">Faits</div>
    {% endif %}

    <ul class="actions">
        <li>
            <a href="/todolist/{{task.id}}/editTask/"><input type="button" value="Modifier la tâche"></a>
        </li>
        <li>
            <form id="save" action="/todolist/{{task.id}}/completeTask/" method="post">
                {% csrf_token %}
                <div class="save">
                    <input type="submit" value="Sauvegarder">
                </div>
            </form>
        </li>
        <li>
            <form action="/todolist/{{task.id}}/delTask/" method="post">
                {% csrf_token %}
                <input type="submit" value="Supprimer la tâche">
            </form>
        </li>
    </ul>
</body>
</html>