body {
    background-color: #ede1d5;
    width: 60%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 3%;
    font-size: 25pt;
    font-weight: bold;
    color: #7b503a;
    text-align: center;
}

.menuBarre {
    background-color: #D4A190;
    height: 50px;
    display: flex;
    align-items: center;
}

.menuBarre ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuBarre li {
    flex-grow: 1;
    text-align: center;
}

.menuBarre a {
    display: block;
    color: #333333;
    text-decoration: none;
    height: 40%;
    padding: 15px;
    font-size: 13pt;
}

.menuBarre a:hover {
    background-color: #a77e71;
}

.obsoleteTask {
    margin: 5% 0;
}

.obsoleteTask div {
    font-size: 25pt;
    color: #7b503a;
}

.obsoleteTask li {
    display: block;
    text-decoration: none;
    font-size: 17pt;
    padding: 2px 2px;
}

.obsoleteTask li:hover {
    background-color: #a77e71;
}

.obsoleteTask a:visited, .obsoleteTask a:active, .obsoleteTask a:link {
    text-decoration: none;
    color: #333333;
}